<h1>@<%= current_user.username %>'s Twitter Feed</h1>

<div class="col-md-4">
</div>

<div class="well col-md-4">
  <div class="row">
<p><strong>Here is what your "friends" are saying:</strong></p>
  </div>
    <% @following_tweets.each do |tweet| %>
  <div class="row">
	    <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user_id) %>
	    <%= tweet.message.html_safe %>
      <% if tweet.created_at > 86400 %>
        <%= time_ago_in_words(tweet.created_at) %> ago
        <% else %>
        <%= tweet.created_at.strftime("%b %d")  %>
        <% end %>
  </div>
    <% end %>
</div>

<div class="col-md-4">  
</div>
